# Excluding Build Files: .gitignore
# --- Build Artifacts ---
/build/
/dist/
/*.egg-info/
/htmlcov/

# --- Environment and Dependencies ---
__pycache__/
.pytest_cache/
.tox/

# --- OS and Editor Files ---
.DS_Store
.vscode/